.page {
    width: 21cm;
    height: 29.7cm;
    border: 1px solid black;
    font-family: system-ui, sans-serif;
  }

  .logo{
    width: 90px;
    position: absolute;
    left: 34px;
    
}
  

  table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
    border-bottom: 2px solid black;
  }

  td{
    border: 2px solid black;
    text-align: center;
  }
  
  .main-heading{
    font-size: 20px;
    text-decoration: underline;
  }